.table {
    margin: 0 auto 0 auto;
    width: 600px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgb(123, 156, 142);
}
.table thead > tr > th {
  border-bottom: 1px solid rgb(123, 156, 142);
  padding-bottom: 0;
}
td, th {
  font-size: 0.875em;
  background: rgb(84, 114, 102);
  vertical-align: middle;
  padding: 12px 8px 12px 8px;
  text-align: center;
}

th {
    background-color: rgb(193, 216, 206);
}

.vissza{
  margin-left: 75%;
}
